
<header>

  <h1>
    <a class="navbar-brand" href="index.html">
              <img src='{{ site.baseurl }}/assets/img/uploads/chapeunatal2.png' style="width: auto; height: auto;max-width: 120px;max-height: 100px;opacity : 0.5">
      <img src='{{ site.baseurl }}/assets/img/uploads/chape1.jpg' style="width: auto; height: auto;max-width: 120px;max-height: 100px;opacity : 0.5">
      <img src='{{ site.baseurl }}/assets/img/uploads/chape2.png' style="width: auto; height: auto;max-width: 120px;max-height: 100px;opacity : 0.5">
      
            </a>
    <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      
  </h1>
 
  <nav>
   
    {% include navigation.html navigation=site.data.navigation %}
  </nav>

</header>

