{% assign navurl = page.url | remove: 'index.html' %}


<ul>
 
 <span style="text-align:center;"> {% for item in include.navigation %} </span>

  <li>
   

  
  
 <span style="text-align:center;"> <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}   </a> </span>
  

   <span style="text-align:center;">  {% if item.subitems %} 
      {% include navigation.html navigation=item.subitems %} </span>
    {% endif %}
  </li>
{% endfor %}
</ul>

 
