{% assign navurl = page.url | remove: 'index.html' %}
 
<ul>
{% for item in include.navigation %}
   
  <li>
   
<ul><a class=href="/">  <img src='/assets/img/uploads/img_logo.png' style="width:20%;float:left;">  </a></ul>
    
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}
    
 
            </a>
  

    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul>

 
