---
layout: default
---

<!--<h2>{{ page.title }}</h2>-->

{% include page-intro.html %}
 
    
        
{{ content }}

<section>

 <!-- <h3>Posts</h3> -->
      
  <ul>

    {% for post in site.posts %}
   
    {% assign author = site.data.authors[post.author] %}  
  <br>
   <!--   <li>  -->
          <div style="border: 1px solid lightgrey;padding:10px;">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">

          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
         </div>
        </time>
   </div>
   <div style="border: 1px solid lightgrey;padding:10px;">
           {% if page.related_image %}
           <img src="{{ page.related_image }}" alt="">
           {% endif %}
        {{ post.excerpt | strip_newlines | truncate: 180 }}
        </div><br>
  <!--    </li> -->
  
    {% endfor %}

  </ul>
  
</section>
