---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>
    

    <h3>Recent posts from the blog</h3>
    
    <style>
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
  width:200px;
  height:auto;
}

.flex-item-left {
  background-color:none;
  padding: 10px;
  flex: 50%;   
}

.flex-item-right {
  background-color: none;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
</style>
    

              <ul>
                 {% for post in site.posts limit:3 %} 
             <li>
                <div class="flex-container">
               
      <div class="flex-item-left">    <img src="{{ post.thumbnail }}" /> </div>
                <div class="flex-item-right"> <a href="{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date }}"><strong>{{ page.date | date_to_string }}</strong></time> </div>
                 </div>
                
            </li> 
      {% endfor %}
    </ul>
  </section>
