---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>
              <ul>
                 {% for post in site.posts limit:3 %} 
             <li>      
           <div  style="width: 500px;     text-align:center;    display: table;"> 
              <div> <img src="{{ post.thumbnail }}" style="  width: 33.3%;  width:100px; height:100px;    display: table-cell;     border:1px solid #000;     vertical-align:middle;  " /></div>  
                <div style="  width: 33.3%;     display: table-cell;vertical-align:middle;  "> <a href="{{ post.url }}">{{ post.title }}</a> </div>
             <div>
             <!-- <div style="width: 33.3%;display: table-cell; "> {{ post.excerpt | strip_newlines | truncate: 75 }}<a href="{{ post.url }}">read more</a></div>  -->
             
   <!--          <style type="text/css">.principal{     width: 500px;     text-align:center;    display: table;}
               .coluna-1{      width: 33.3%;     display: table-cell;     border:1px solid #000;     vertical-align:bottom;    }
               .coluna-2{      width: 33.3%;     display: table-cell;       border:1px solid #000;     vertical-align:middle;    }
               .coluna-3{      width: 33.3%;     display: table-cell;       border:1px solid #000;   }</style><div class="principal">    
             <div class="coluna-1">texto-1</div>     <div class="coluna-2">texto-2</div>     <div class="coluna-3">Aqui eu vou usar um texto que ocupa varias linhas dos nossos blocos, deixando ele mais alto, mas não importa o quanto texto eu tenha os blocos ao lado vão respeitar o alinhamento estipulado, como se fosse uma tabela  </div></div>
            -->
        </li>
      {% endfor %}
    </ul>
  </section>
