---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
           <h4 style="float:right;"><a href="{{ post.url }}">{{ post.title }}</a> 
          
               <time datetime="{{ post.date }}"> 
          <small>
              <strong>{{ post.date | date_to_string }}</strong> 
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
             </h4>
          <div  style="width: 500px;     text-align:center;    display: table;"> 
          <div> <img src="{{ post.thumbnail }}" style="width: 400px; height: 300px;  text-align:center;    display: table;" /> </div>
            <div style=" width: 33.3%;     display: table-cell;       border:none;     vertical-align:middle; "> <a href="{{ post.url }}">{{ post.title }}</a> </div>
             </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
