---
layout: default
---



{% assign author = site.data.authors[page.author] %}

 {% if page.related_image %}
  <img src="{{ page.related_image }}">
{% endif %} 

<br>

<div>
 <h2>{{ page.title }}</h2>
<time datetime="{{ page.date }}">

 
 <p> {% include read_time.html text=content %} de leitura </p>   
  
 </small>
 
 </time>





 </div>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span>
    <span class="post-date" style="display:inline-block;">{{ page.date | date_to_string }}</span> |
    {% for tag in page.tags %}
      <span class="codinfox-tag-mark">{{ tag }}</span>
    {% endfor %}
  </span>

  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>

<hr style="width:100%; height:6px; background-color:#f16334; border:none;" />




{% include page-intro.html %}

 <br>
{{ content }}
<br>

<!-- <a href="https://www.pixeladasx.com/contact"><span style="border:1px solid;background:lightyellow;font-size:.8em;padding:5px;float:right;"> reportar erro </span> </a> -->






<nav aria-label="Adjacent Posts">
 <!-- <hr style="width:50%; height:1px; background-color:lightgrey; border:none;" />  -->
  <ul>
    {% if page.previous.url %}
   
      <li>
        <a href="{{page.previous.url}}" style="font-size:.9em;" "rel="prev">&laquo; Artigo Anterior </a> <p style="font-size:.8em;"> {{page.previous.title}} </p>
 
      </li>
  
    {% endif %}



    {% if page.next.url %}
   
      <li>
       <a href="{{page.next.url}}" style="font-size:.9em;"  rel="next"> Próxima Artigo  &raquo;  </a> <p style="font-size:.8em;"> {{page.next.title}} </p>
     
      </li>
 
    {% endif %} 




  </ul>

</nav>
           
          

                                                                                                                                                                                                  
  <h1>Leia outros artigos</h1>                                                                        
      {% for post in site.categories.article %}
            <img src="{{ post.thumbnail }} " style="width:50%;height:auto;">
<a href="{{ post.url }}"><h1>{{ post.title }}</h1>
        </a>   
      {% endfor %}                                                                                             


<p align="center"></p>
 {%- if site.commentbox.id -%}
    {%- include commentbox.html -%}
  {%- endif -%}
