---
layout: default
---

{% assign author = site.data.authors[page.author] %}


<h2>{{ page.title }}</h2>
<section class="postlayout">
  <div class="postsummary">
    {% if page.image %}
      <img src="{{ page.image }}">
    {% endif %}
  </div>
</section>


<time datetime="{{ page.date }}">
  <small>
    <strong>{{ page.date | date_to_string }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>

{% include page-intro.html %}

{{ content }}



<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>


<div class="just-comments" data-apikey="37e74e1d-2232-437b-9e9e-a13a1f33a43a" ></div><script async src="https://just-comments.com/w2.js"></script>
                 
 <h1 style="border:1px solid lightgrey;position:relative;top:40px;background:none;font-size:20px;padding:12px;color:grey;"> <text align="center"> Comunique à Redação erros de português, de informação ou técnicos encontrados nesta página, através do nosso formulario na seção "CONTATO" </text></h1>
