---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<h2>{{ page.title }}</h2>

<time datetime="{{ page.date }}">
  <small>
    <strong>{{ page.date | date_to_string }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>

{% include page-intro.html %}

{{ content }}

 {%- if site.commentbox.id -%}
    {%- include commentbox.html -%}
  {%- endif -%}


<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
       <span style="text-decoration:none"> <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a></span>
      </li>
    {% endif %}
  </ul>
</nav>

<a href="https://pixeladasx.com/contact/">
<p style=" border: 1px solid; width: 50%;
  padding: 10px;
  box-shadow: 5px 10px #888888;text-decoration:none;text-align: center;color: green;font-size:15px;">Relatar erros técnicos da página.</p></a>

  
